body {
  padding: 0;
  margin: 0;
  background-color: rgb(29, 28, 26);
}

h1,
h2,
h3,
p,
ul {
  color: rgb(225, 221, 211);
}

a {
  color: rgb(255, 227, 157);
}

p {
  max-width: 40rem;
  font-weight: 500;
}

footer {
  display: flex;
  border-top: solid;
  border-width: 2px;
  border-color: rgb(255, 227, 157);
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem;
  padding-bottom: 4rem;
}

footer section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
}

.italics {
  font-style: italic;
}

.name-text {
  color: rgb(255, 227, 157);
}

.current-page {
  color: rgb(140, 57, 228);
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* width: 100vw; */
  /* background-color: red; */
  align-items: center;
  align-content: center;
  border-bottom: solid;
  border-width: 2px;
  padding-left: 2rem;
  padding-right: 2rem;
  border-color: rgb(196, 196, 196);
  color: rgb(104, 104, 104);
}

.navbar a {
  text-decoration: none;
}

.nav-buttons :not(:last-child) {
  margin-right: 2rem;
}

.nav-buttons :hover,
.nav-buttons :focus {
  color: rgb(140, 57, 228);
}

.main-page {
  padding-top: 4rem;
  padding-bottom: 8rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  /* height: 100vh; */
  /* background-color: aqua; */
}

.main-page * {
  width: 60%;
  /* background-color: green; */
}

.image-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.image-container div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
}

.image-container div img {
  object-fit: contain;
  width: fit-content;
  border-radius: 1rem;
}

.feature {
  /* background-image: url("assets/pfp.webp"); */
  width: 100%;
  /* background-color: orange; */
  height: fit-content;
}

/* .feature h1 {
    text-wrap: nowrap;
    width:  fit-content;
} */

.feature img,
.feature svg {
  object-fit: cover;
  /* height: fit-content; */
  width: 100%;
  /* background-color: red; */
  border-radius: 1rem;
  /* box-shadow: 10px 10px 5rem 1px rgba(221, 221, 221, 0.398); */
  border-color: rgb(255, 227, 157);
  border-width: 1px;
  border: solid;
  border-style: inset;
  margin-bottom: 1rem;
}
.feature-caption {
  /* background-color: rgba(255, 255, 255, 0.3); */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: start; */

  /* background-color: pink; */
  width: 100%;
  /* gap: 1rem; */
}

.feature-caption * {
  width: fit-content;
  padding-top: 0;
  margin-top: 0;
}

.feature-caption h3 {
  color: rgb(255, 227, 157);
}

.button {
  padding: 0.5rem;
  border: solid;
  border-width: 1px;
  border-radius: 1rem;
  text-align: center;
  width: fit-content;
  height: fit-content;
  text-wrap: nowrap;
}

.button:hover {
  color: rgb(29, 28, 26);
  background-color: rgb(255, 227, 157);
  transition-duration: 0.2s;
}

.viz-section {
}

.viz-box {
  width: 100%;
  height: fit-content;
  /* object-fit: contain; */
  overflow: hidden;
  width: 100%;
  border: solid;
  border-radius: 1rem;
  border-color: rgb(255, 227, 157);
  border-width: 2px;
  /* border-style: inset; */
  margin-bottom: 4rem;
}

.viz-box * {
  width: 100%;
}

.viz-box h3 {
  border-bottom: solid;
  border-bottom-color: #ffe39d;
  padding: 1rem;
  margin: 0;
}

.viz-box img {
  object-fit: cover;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

.viz-box svg {
  object-fit: cover;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

.viz-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem;
  /* width: fit-content; */
}

.viz-svg {
  width: fit-content;
}

.link-box {
  display: flex;
  justify-content: space-between;
}

.logo {
  /* opacity: 50%; */
}

.main-page.about h2 {
  color: rgb(255, 227, 157);
}
